/* Wavey Style - Login Page */

:root {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(left, #eeaa33, #ffffff);
}

/* FORM STYLING */

form {
    position: absolute;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    padding: 25px;
}

.input_field {
    width: 100%;
    height: 50px;

    padding: 10px;
    vertical-align: middle;

    border-radius: 8px;
    border: 3px solid #000;

    color: #111;
    font-size: 1rem;

    transition: all 0.3s ease;
}
.input_field::placeholder { color: #444; }
.input_field:hover { border: 5px solid #000; }
.input_field:focus { border-radius: 12px; }

.input_label {
    width: 90%;
    margin-left: 10%;

    color: #222222;

    font-size: 0.9rem;
}

/* TEXT STYLING */

h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2.5rem;

    text-align: center;
    vertical-align: middle;
    justify-content: center;

    width: 100%;
    height: 50px;
}

h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5rem;

    text-align: center;
    vertical-align: middle;
    justify-content: center;

    width: 100%;
    height: 30px;

}

p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;

    text-align: center;
    vertical-align: middle;
    justify-content: center;
    
    width: 100%;
    height: 20px;
}