:root {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #eeeeee;
}

/* FORM STYLING */

form {
    position: absolute;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    padding: 25px;
}

.input_field {
    width: 100%;
    height: 50px;

    padding: 10px;
    vertical-align: middle;

    border: 3px solid #000;

    color: #111;
    font-size: 1rem;

    transition: all 0.3s ease;
}
.input_field::placeholder { color: #444; }
.input_field:hover { border: 5px solid #000; }
.input_field:focus { border: 7px solid #000; }

.input_label {
    width: 90%;
    margin-left: 10%;

    color: #222222;

    font-size: 0.9rem;
}

